*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
html{
    font-size: 20px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body{
    background-color: #1e1345;
    font-family: poppins;
}
header{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 15% 50% 30%;
}
header div, header nav{
    color: #fff;
}
@font-face {
    font-family: 'fontawsome';
    src: url(../fonts/fa-brands-400.woff2);
}
@font-face {
    font-family: 'fontawsome2';
    src: url(../fonts/fa-solid-900.woff2);
}
header #social-icon i{
    font-family: 'fontawsome';
}
#logo img{
    width: 100%;
}
#header-nav ul{
    list-style-type: none;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 18%);
}

#header-nav ul li a{
    color:#fff;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 0.75rem;
}
header #social-icon{
    text-align: right;
}
header #social-icon i{
    margin: 0 0.5rem;
    font-size: 0.75rem;
}
#content{
    color: #fff;
}
#photo{
    text-align: right;
}
#photo img{
    width: 15rem;
}
#Section1{
    margin-top:3rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
#content h1{
    font-size: 3rem;
}
#content span{
    color: #00c0ff;
}
#content p{
    margin-top: 2rem;
}
#content a{
    text-decoration: none;
    color: #fff;
    background-color: #00c0ff;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 1.3rem;
    border-radius: 1rem;
    font-size: 0.8rem;
}
#section2{
    color: #fff;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 100%;
}
#section2 article{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#section2 article h2{
    color: #00c0ff;
}
#section2 article p{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}
#inside-section2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#inside-section2 #left{
    position: relative;
    height: 30rem;
}
#inside-section2 #right{
    font-size: 0.8rem;
}
#inside-section2 #left #first-img{
    width: 20rem;
    position: absolute;
    right: 0;
    top: 0;
}
#inside-section2 #left #second-img{
    width: 12rem;
    position: absolute;
    bottom: 0;
    left:0;
    border-radius: 10px;
}
#inside-section2 #left i{
    font-family: 'fontawsome2';
    background: #00c0ff;
    height: 3rem;
    width: 3rem;
    padding-top: 1rem;
    border-radius: 10px;
}
#bottom-left{
    position: absolute;
    bottom: 2rem;
    right: 6rem;
    width: 4rem;
    text-align: center;
}
#bottom-left p{
    font-size: 2rem;
    position: relative;
}
#bottom-left p::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: #00c0ff;
    left: 0;
}
#bottom-left p::after{
    content: 'Successful Years';
    position: absolute;
    font-size: 0.6rem;
    right: -91px;
    bottom: 13px;
}
#inside-section2 #right h1{
    margin-bottom: 2.5rem;
}
#inside-section2 #right p{
    font-size: 0.7rem;
    color: #aaa;
}
#inside-section2 #right #bottom-right{
    border: 1px solid #aaa;
    margin-top: 1.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#right #bottom-right #list-left{
    font-size: 0.6rem;
    padding:1.5rem;
    border:1px solid #aaa;
}
#right #bottom-right #list-left dt, #right #bottom-right #list-right dt{
    font-weight: bold;
}
#right #bottom-right #list-left dd, #right #bottom-right #list-right dd{
    color: #aaa;
    margin-bottom: 1.5rem;
}
#right #bottom-right #list-left dl dd:last-child, #right #bottom-right #list-right dl dd:last-child{
    margin-bottom: 0;
}
#right #bottom-right #list-right{
    font-size: 0.6rem;
    border-left: 1px solid #aaa;
    padding:1.5rem;
}
#downloadCv{
    color: #fff;
    text-decoration: none;
    background-color: #00c0ff;
    padding: 12px 24px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 24px;
}
#downloadCv:hover{
    background-color: #fff;
    color: #000;
}











@media screen and (max-width:1100px) {
    #inside-section2 #left #first-img{
        width: 16rem;
    }
    #inside-section2 #left #second-img{
        width: 10rem;
    }
    #inside-section2 #left{
        height: 25rem;
    }
}
@media screen and (max-width:960px) {
    #header-nav ul{
        margin-left: 2rem;
    }
    
}
@media screen and (max-width:900px) {
    html{
        font-size: 16px;
    }
    #inside-section2 #left i{
        display: none;
    }
}
@media screen and (max-width:720px) {
    html{
        font-size: 20px;
    }
    header{
        grid-template-columns: 100%;
    }
    #logo{
        margin: 0 auto;
    }

    nav ul{
        text-align: center;
    }
    #header-nav ul{
        margin-left: 0;
        justify-content: center;
    }
    #header-nav{
        width: 100%;
        margin: 16px auto;
    }
    header #social-icon{
        width: 100%;
        text-align: center;
    }
    #content h1{
        font-size: 2.5rem;
    }
    #Section1{
        grid-template-columns: 100%;
        gap: 50px;

    }
    #content{
        width: 100%;
        text-align: center;
    }
    #photo{
        width: 100%;
        text-align: center;
    }
    #inside-section2 #left{
        width: 100%;
    }
    #inside-section2 #right{
        width: 100%;
    }
    #inside-section2 #left #second-img{
        display: none;
    }
    #right{
        text-align: center;
    }
    #bottom-right{
        text-align: left;
    }
    #inside-section2{
        grid-template-columns: 100%;
    }
    #inside-section2 #left #first-img{
        position: static;
        display: block;
        margin: 0 auto;
    }
    #bottom-left{
        position: static;
        margin: 20px auto;
        
    }
    #section2 article{
        width: 100%;
    }
    #section2 article p{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width:675px) {

#content{
    width: 100%;
    text-align: center;
}
#photo{
    width: 100%;
    margin-top: 1.5rem;
}
#photo img{
    display: block;
    margin: 0 auto;
}
}
@media screen and (max-width:435px) {
    #header-nav ul li a{
        padding:0.3rem;
        font-size: 0.6rem;
    }
    #photo img{
        width: 13rem;
    }
    #content h1{
        font-size: 2rem;
    }
}

